.nav-side {
    float: left;
    width: 130px;
    min-height: 100px;
}

.nav-side .nav-item {
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 10px;
}

.nav-side .nav-item .link {
    color: #888;
}

.nav-side .nav-item.active .link {
    color: #c60023;
}

.content.with-nav {
    float: left;
    width: 950px;
}