.panel {
    background-color: white;
    padding: 20px;
    font-size: 20px;
}

.panel .title {
    border-bottom: 1px solid red;
    padding-bottom: 10px;
}

.panel>.item {
    margin: 15px;
}

.panel .item .label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-right: 20px;
}

.panel input {
    font-size: inherit;
}