<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script src="https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js"></script>
</head>

<body>
    <div>login</div>
    <!-- <img src="../../image/1.jpg " alt=" "> -->

    <%= require("html-loader!./footer.html") %>
</body>

</html>