<!DOCTYPE html>
<html lang="en">

<head>
    <%= require("html-loader!./layout/head-common.html") %>

        <title>Document</title>
</head>

<body>
    <%=   require("html-loader!./layout/nav-simple.html")    %>
        <div class="page-wrap">
            <div class="user-con">
                <p>用户登录</p>
                <div class="error-item">
                    <label for="user-error" class="fa fa-minus-circle error-icon"></label>
                    <p class="error-msg">error</p>
                </div>
                <div class="user-item">
                    <label for="user-name" class="fa fa-user"></label>
                    <input type="text" id="user-name" placeholder="输入用户名">
                </div>
                <div class="user-item">
                    <label for="user-password" class="fa fa-lock"></label>
                    <input type="password" id="user-password" placeholder="输入密码">
                </div>
                <button type="sumbit" class="btn" id="submit">登录</button>
                <div class=" link-item ">
                    <a href="./register.html " class="link ">注册帐号</a>
                    <a href="./passwordReset.html " class="link ">忘记密码</a>
                </div>

            </div>

        </div>

        <%=   require("html-loader!./layout/footer.html")    %>
</body>

</html>