.panel {
    background-color: white;
    padding: 20px;
}

.panel .title {
    border-bottom: 1px solid red;
    padding-bottom: 10px;
}

.panel .userInfoCon .userInfoItem {
    margin: 10px 0 10px 0;
}