<div class="nav">
    <div class="w">
        <div class="user-info">
            <div class="user notLogin">
                <span class="link js-login">登录</span>
                <span class="link js-register">注册</span>
            </div>
            <!-- 已经登陆了  -->
            <div class="user login hide">
                <span class="link-text">欢迎<span class="username"></span></span>
                <span class="link js-loginOut">退出</span>
            </div>
        </div>
        <!-- 设计购物车等等模块  -->
        <ul class="nav-list">
            <li class="nav-item">
                <a href="./cart.html" class="link">
                    <i class="fa fa-shopping-cart"></i> 购物车
                    <span class="cart-count">0</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">我的订单</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">我的MMall</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./about.html">关于MMall</a>
            </li>
        </ul>
    </div>

</div>