/* css resert  */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6f6f6;
    font: 12px/"微软雅黑";
}

li {
    list-style: none;
}

img {
    display: block;
    border: none;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}


/* 定宽布局  */

.w {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


/* 给外部容器设置最低高度  */

.page-wrap {
    min-height: 455px;
    box-sizing: content-box;
}


/* 全局通用样式  */


/* 隐藏  */

.hide {
    display: none;
}


/* 超链接  */

.link {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: #e80012;
}

.link-text {
    color: #999;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background-color: #c60023;
    font-size: 17xp;
    font-weight: bold;
    outline: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.btn-min {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}

.loading {
    margin: 10px auto;
    display: block;
    width: 85px;
    height: 81px;
    /* border: 2px solid #333; */
    background: url("../../image/icon/loading.gif") no-repeat;
    opacity: 0.6;
}


/* 面包屑导航  */

.crumbs {
    color: #999;
    font-size: 19px;
    background-color: rgba(220, 215, 215, 0.75);
    background: linear-gradient(rgba(200, 196, 196, 0.30), rgba(151, 149, 149, 0.60));
    padding: 10px 100px;
    border-top: 2px solid #ff170b;
}


/*  panel容器 */

.panel {
    background-color: white;
    padding: 20px;
    margin: 30px 0;
}

.panel .title {
    border-bottom: 1px solid red;
    padding-bottom: 10px;
}


/* 错误提示  */

.err-tips {
    margin-top: 30px;
    padding: 30px;
    font-size: 30px;
    background-color: #eaeaea;
    color: red;
    text-align: center;
}